.header {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 900;
	margin-bottom: 10rem;

	a {
		text-decoration: none;
		margin: 0;
		color: $pagraph;
	}

	ul {
		padding-inline: 0;

		li {
			list-style: none;
			margin: 0;


		}
	}

	h1 {
		width: 100%;
		margin: 0;
	}

	i {
		font-size: large;
		font-weight: 900;
	}

	&-nav {
		background-color: white;
		position: fixed;
		z-index: 2;
		right: 0;
		left: 0;
		top: 3rem;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 0fr;
		align-items: center;



		&-right {
			h1 {
				font-family: 'Courier New', Courier, monospace;
				font-weight: 900;
				margin: 0;
				padding: 0;

				span {
					color: $danger;
					margin: 0;
					padding: 0;
				}
			}
		}

		.header-nav-mobile-nav {
			@media screen and (min-width: $mobile) {
				display: none;
			}

			width: 100%;

			.header-nav-mobile-nav-inner {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;

				.header-nav-mobile-nav-bars {

					i {

						width: 100%;
						background-color: whitesmoke;
						padding: 0.5rem;
						font-size: larger;
						font-weight: 800;
						font-style: italic;
					}
				}

				.header-nav-mobile-nav-menu {

					position: absolute;
					z-index: 1;
					top: 2.7rem;
					right: 0;
					left: 0;
					padding-inline: 1rem;

					.active {
						background-color: white;
						width: 100%;
						padding-block: 0.5rem;
					}

					&-inner {
						background-color: whitesmoke;
						text-align: center;
						border: 1px solid;
						height: 100%;

						ul {
							margin-block: 4.4rem;
							width: 100%;
							padding-inline: 0;

							li {


								a {
									font-size: 2rem;
								}
							}
						}
					}

					&.hide {
						display: none;
					}


				}
			}
		}

		&-inner {
			display: none;
		}

		@media screen and (min-width: $mobile) {
			gap: 4rem;

			&-inner {
				display: block;
				align-items: center;

				&-desktop {
					gap: 1rem;
					width: 100%;
					display: grid;
					grid-template-columns: 1fr 0.1fr 1fr;
					align-items: center;

					&-line {
						display: none;

						@media screen and (min-width: $second-md) {
							display: block;
							height: 2rem;
							border: 1px solid;
						}
					}

					&-menu {
						width: 100%;
						display: flex;
						align-content: center;
						margin-inline-end: 1rem;
						gap: 2rem;

						h1 {
							&:hover {
								font-size: 1rem;
								color: $danger;
							}
						}

						.active {
							h1 {
								color: $danger;
							}

							span {
								font-size: 1rem;
								font-weight: 900;
							}
						}

						@media screen and (max-width: $second-md) {
							gap: 1rem;
						}

						h1 {
							margin-top: 1rem;
							font-size: 1.2rem;
						}
					}

					&-icons {


						&-inner {
							display: none;

							@media screen and (min-width: $second-md) {
								display: block;
								align-items: center;

							}

							&-menu {
								align-items: center;
								display: grid;
								grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
								gap: 1rem;
						i{
							&:hover {
								font-size: 1rem;
								color: $danger;
							}
						}
							}

						}
					}
				}
			}
		}
	}
}